.workspace {
  padding: 100px 80px;
  background: #ffffff;
  text-align: center;
}

.workspace .tag {
  display: inline-block;
  background: #eef8f5;
  color: #14856d;
  padding: 8px 18px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.workspace h2 {
  font-size: 48px;
  color: #1f2937;
  line-height: 1.2;
  margin-bottom: 20px;
}

.workspace h2 span {
  color: #14856d;
  font-style: italic;
}

.workspace p {
  max-width: 600px;
  margin: 0 auto 60px;
  color: #64748b;
  line-height: 1.7;
}

.phones {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 25px;
  margin-top: 60px;
}

.phone {
  width: 170px;
  border-radius: 35px;
  box-shadow: 0 20px 50px rgba(0,0,0,.18);
  transition: .3s;
}

.center-phone {
  width: 190px;
}

.side {
  width: 150px;
}


.light {
  background: #f8fafc;
}

.dark {
  background: linear-gradient(#1b4332, #081c15);
}

.center {
  width: 160px;
  height: 340px;
  background: white;
  border: 8px solid #f1f5f9;
}

.slider {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.slider span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #d1d5db;
}

.slider .active {
  width: 30px;
  border-radius: 20px;
  background: #14856d;
}